<h1>NodeJS and EmberJS Starter Project</h1>
{{#each model as |item|}}
   <div>
      {{item.name}}
      {{#if item.isCool}}
         <div {{action 'markNotCool' item}}>
            <span class="completed">&#10004;</span>
         </div>
      {{else}}
         <div {{action 'markCool' item}}>
            <span class="not-completed">&#10004;</span>
         </div>
      {{/if}}

      <h4 class="{{if item.isCool 'title-complete'}}">{{item.item}}</h4>

      <a class="delete" {{action 'delete' item}}>Delete</a>
      <hr>
   </div>
{{/each}}
